@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300&family=Pacifico&display=swap');

.css-selector {
    background: linear-gradient(28deg, #2da888, #9842b1);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 0s ease infinite;
    -moz-animation: AnimationName 0s ease infinite;
    animation: AnimationName 0s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:27% 0%}
    50%{background-position:74% 100%}
    100%{background-position:27% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:27% 0%}
    50%{background-position:74% 100%}
    100%{background-position:27% 0%}
}
@keyframes AnimationName {
    0%{background-position:27% 0%}
    50%{background-position:74% 100%}
    100%{background-position:27% 0%}
}
#howtoPlay{
    font-family: 'Gothic A1', sans-serif;
   
    font-size: 40px;

    color: #fff;
    text-align: center;

  
}
#howtoPlay h1{
    background-color: rgb(45, 90, 117);
    border-radius: 25px;
margin-left: 200px;
margin-right: 200px;
}
#points{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(46, 45, 45);
    font-family: 'Gothic A1', sans-serif;
   text-align: start;
}
.toGame{
    font-size: 69px;
    text-align: center;
    margin-bottom: -60px;
    
    justify-content: center;
    font-family: 'Bakbak One', cursive;
    cursor: pointer;
    color: #00fbff;
    background-color: transparent;
    border-radius: 25px;
    border-color:#ff00b7;
}
.cat img{
width: 300px;   
  float: left;
    

}